[Unit]
Description=Symphony Oracle
After=network.target

[Service]
Type=simple
User=tr-service
WorkingDirectory=/home/symphony-oracle-voter
ExecStart=/home/symphony-oracle-voter/venv/bin/python3 -u /home/symphony-oracle-voter/main.py
Restart=always
RestartSec=3

# Required configuration values

[Install]
WantedBy=multi-user.target
