[Unit]
Description=Symphony Oracle
After=network.target

[Service]
Type=simple
User=%u
WorkingDirectory=%h/symphony-oracle-voter
ExecStart=%h/symphony-oracle-voter/venv/bin/python3 -u %h/symphony-oracle-voter/main.py
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

Environment="SYMPHONYD_PATH=%h/symphony/build"

# Required configuration values

[Install]
WantedBy=multi-user.target
